{% extends 'Home/base.html' %}

{% block content %}
    <div class="container mt-5">
        <h1 class="text-primary">{{ user.email }}</h1>
        <h2>Member of the following Carpools:</h2>
        <ul class="list-group">
            {% for carpool in user.carpool_groups.all %}
            <li class="list-group-item">
                    <a href="{% url 'carpool_detail' carpool.id %}">{{ carpool.name }}</a>
                </li>
            {% empty %}
                <li class="list-group-item">This user is not a member of any carpools.</li>
            {% endfor %}
        </ul>

        <div class="mt-4">
            <a href="{% url 'carpool_list' %}" class="btn btn-primary">Back to Carpool List</a>
        </div>
    </div>

    {% endblock %}

