<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">    
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" rel="stylesheet"
      type="text/css">
    <link rel="stylesheet" href="/static/css/index.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <title>wassalni</title>
    
    
</head>
<body>
    <!--<p>Utilisateur connecté : {{ is_logged_in }}</p> -->
    {% for message in messages%}
                <script>
                    window.onload = function()  {
                        alert ("{{message}}")
                    }
                </script>
    {% endfor %}

    <header class="header">
        <nav class="navbar">
            
            
            <div class="navbar-right">
                
                
                <!-- Lien Déconnecter -->
                <a href="{% url 'disconnect' %}" id="logout-link" style="{% if not is_logged_in %}display: none;{% else %}display: inline;{% endif %}">Déconnecter</a>
            </div>
        </nav>
        
        
        
        
        
        
        
        
        
        
        
        
        
        

    </header>
    <!-- LOGIN FORM CREATION -->
    <div class="background"></div>
    <div class="container">
       <div class="item">
            <h2 class="logo"><i class='bx bxl-xing'></i>wassalni</h2>
            <div class="text-item">
                <h2>Une autre vision  <br><span>
                    du covoiturage
                </span></h2>
                <p>Voyagez ensemble, économisez plus, et faites un geste pour la planète avec notre plateforme de covoiturage universitaire!</p>
                <div class="social-icon">
                    <a href="#"><i class='bx bxl-facebook'></i></a>
                    <a href="#"><i class='bx bxl-twitter'></i></a>
                    <a href="#"><i class='bx bxl-youtube'></i></a>
                    <a href="#"><i class='bx bxl-instagram'></i></a>
                    <a href="#"><i class='bx bxl-linkedin'></i></a>
                </div>
       </div>
    </div>
    <div class="login-section">
        <div class="form-box login">
            <form action="{% url 'connect' %}" method="post">
                {% csrf_token %}
                <h2>se connecter</h2>
                <div class="input-box">
                    <span class="icon"><i class='bx bxs-envelope'></i></span>
                    <input type="email" id="email" name="email" required>
                    <label >Email</label>
                </div>
                <div class="input-box">
                    <span class="icon"><i class='bx bxs-lock-alt' ></i></span>
                    <input type="password" id="password" name="password" placeholder="********" required>
                    <label>Mot de passe</label>
                </div>
                <div class="remember-password">
                    <label for=""><input type="checkbox">Remember Me</label>
                    <a href="#">Mot de passe oublié ?</a>
                </div>
                <button class="btn">Login In</button>
                    <div class="create-account">
                        <p>Vous n'avez pas de compte ? <a href="{% url 'registration' %}">Créer un compte</a></p>
                    </div>
                    <!-- Lien pour réinitialiser le mot de passe -->
                    <div class="create-account">
                        <p>Mot de passe oublié ? <a href="{% url 'update_password' %}">Reinitialiser Mot de passe</a></p>
                    </div>
            </form>
            
        </div>
      

</body>

</html>