{% extends 'Home/base.html' %}
{% block content %}
<div class="container mt-5 p-4 bg-light rounded shadow-sm">
    <div class="text-center mb-4">
        <h3 class="text-danger">Confirmation de suppression</h3>
    </div>
    <div class="alert alert-warning" role="alert">
        <strong>Êtes-vous sûr de vouloir supprimer cette réclamation ?</strong>
    </div>
    <div class="mb-3">
        <p><strong>Description:</strong> {{ reclamation.description }}</p>
        <p><strong>Date de réclamation:</strong> {{ reclamation.date_reclamation }}</p>
    </div>

    <div class="d-flex justify-content-center">
        <form method="POST" class="me-2">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger px-4">Supprimer</button>
        </form>
        <a href="{% url 'trajet_detail' trajet_id=reclamation.trajet.id %}" class="btn btn-secondary px-4">Annuler</a>
    </div>
</div>
{% endblock %}
